.wrapper {
    max-width: 100%;
    margin: 0rem auto;
    padding: 0 1rem;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: flex-start;

    background: #f7f4f9;
    color: #238750;
}

/* Smartphone screen size */
@media (max-width: 768px) {
    html {
        font-size: 87.5%;
    }

    .wrapper {
        grid-template-columns: 1fr;
    }
}