.akiya {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ffffff;

    padding: 1rem;
    margin: 1rem;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    border-radius: 4px;


}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    width: 80%;
}

.mainImage {
    width: 20rem;
    
    
    border-radius: 8px;
}

.mainImage:hover {
    filter: brightness(80%);
    border: 2px solid #000000;
}

.types {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 0.5rem;
    gap: 0.5rem;
}

.sale {
    background: #FBB03B;
    color: #FFFFFF;
    border-radius: 1rem;
    padding: 0.2rem 0.5rem;
}

.rental {
    background: #B5D011;
    color: #FFFFFF;
    border-radius: 1rem;
    padding: 0.2rem 0.5rem;

    visibility: hidden;
    display: none;
}

.migration {
    background: #FBB03B;
    color: #FFFFFF;
    border-radius: 1rem;
    padding: 0.2rem 0.5rem;
}

.mainInfo {
    display: flex;
    flex-direction: column;
    
    width: 100%;
    gap: 0.5rem;
    padding: 0.2rem;
}

.areaInfo,
.buildInfo, 
.roomsInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.field {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    self-align: center;
    border: 1px solid #EEE;
    margin: 0.2rem 0.4rem;
    padding: 0.2rem;
    border-radius: 4px;
    width: 50%;
    font-size: 1.2rem;
}



/* Smartphone screen size */
@media (max-width: 768px) {
    html {
        font-size: 120%;
    }

    .mainImage {
        width: 100%;
    }
}